:root {
  font-family: system-ui, sans-serif;
  color: #333; 
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #f6e0bf;
  margin: 0;
}
