:root {
  --sidebar-width: 240px;
  --sidebar-width-min: 60px;
}

#cuerpo-main {
  display: flex;
  width: 100%;
  height: 100vh;
}

#listar-registros {
  background-color: #ffffff;
  padding: 1rem;
  flex: 1;
  border-radius: 5px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.registros {
  display: flex;
  flex-wrap: wrap;
}

.tarjeta-horario {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 260px;
  margin: 20px;
  padding: 10px 0px 10px 0px;

  border: 2px solid #b34d16ff;
  background-color: white;

  border-radius: 5px;
}
