#vacunas{
  display: flex;
  width: 100%;
  height: 100vh;
}

.tabla-productos {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.tabla-productos th,
.tabla-productos td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.tabla-productos thead {
  background-color: #f4f4f4;
  color: #333;
}

.tabla-productos tbody{
    background-color: rgb(116, 148, 175);
}
