:root {
  --sidebar-width: 240px;
  --sidebar-width-min: 60px;
}

#cuerpo-main {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Encabezado */
.encabezado {
  display: flex;
  justify-content: center;
}

.encabezado h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}

/* Buscador */
.goated {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.animacion-goated:hover {transform: scale(1.05);}

.barra-buscador {width: 55%;}

.barra-buscador input {
  width: 100%;
  border: 2px solid rgb(209, 209, 209);
  border-radius: 5px;
  padding: 0.4rem;
}

.boton-goated {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  color: white;
  border: transparent;
  text-decoration: none;
}

.anadir-a-goated {
  background-color: #4caf50;
  font-size: 17px;
  height: 40px;
}
.ir-a-goated {background-color: #ff9900;}


/* TABLA */
.GM-table {
  width: 100%;
  border-radius: 8px;
}

.GM-th {
  border-bottom: 2px solid #dee2e6;
  font-size: 13px;
  white-space: nowrap;
  padding: 12px 12px 0px 0px;
  white-space: nowrap;
}

.GM-thead {
  background-color: #f8f9fa;
}

.GM-td {
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  color: #333;
}

.boton-verde {
  background-color: #28a745;
  margin: 3px;
}

.boton-rojo {
  background-color: #c82333;
  margin: 3px;
}

.boton-amarillo {
  background-color: #ff9900;
  margin: 3px;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
  color: white;
}

.asignar-a {
  text-decoration: underline;
  color: #aeb8da;
}

/* Opciones */
.menu-opciones-gm {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  z-index: 99;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 130px;
  border-radius: 8px;
}

.menu-opciones-gm button {
  z-index: 99;
  color: black;
  background: none;
  border: none;
  text-align: left;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border-radius: 6px;
  font-size: 0.9rem;
}

/* Modal (ventana) */
.ventana-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.contenido-ventana {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contenido-ventana h3 {
  margin: 0 0 1rem 0;
  text-align: center;
}

.contenido-ventana input,
select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.accDeReg {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.accDeReg button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.accDeReg button:first-child {
  background-color: #4caf50;
  color: white;
}

.accDeReg button:last-child {
  background-color: white;
  color: white;
}
