#cuerpo{
    display: flex;
    height: 100vh;
    position: fixed;
}

#br_administrativa{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    align-items: center;
    width: 18rem;
    height: 100%;
    padding: 1.4rem 1rem 0 1rem;
    transition: all 0.5s ease;
    justify-content: space-around;
    box-shadow: 0 0 10px black;
}

#br_administrativa.minimize{
    width: 4.7rem;
}

#despliegue{
    position: absolute;
    top: 4.3%;
    right: -0.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: aliceblue;
    color: cadetblue;
    box-shadow: 1px 1px 5px;
    cursor: pointer;
    transition: right 0.3s ease;
}

#despliegue i{
    font-size: 1.2rem;
}

#br_administrativa.minimize #despliegue{
    right: -2.2rem;
}

#br_administrativa.minimize #despliegue i{
    transform: rotate(180deg);
}

#header{
    width: 100%;
}

#cabezera{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-left: 0.rem;
    margin-bottom: 1.8rem;
    overflow: hidden;
}

#cabezera img{
    width: 3rem;
}

#cabezera span{
    font-size: 1rem;
    font-weight: 500;
}

#menu{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /*quitar si no se desea xd*/
}

#opciones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#opciones .opcion{
    position: relative;
    list-style: none;
    overflow: hidden;
}

#opciones .enlace_opcion{
    display: flex;
    align-items: center;
    padding: 0.55rem  0;
    text-decoration: none;
    border-radius: 0.3rem;
    color: rgb(70, 20, 135);
}

.opcion:hover .enlace_opcion{
    color: black;
    background-color: rgba(40, 137, 221, 0.618);
}

.enlace_opcion i{
    font-size: 1.4rem;
    padding: 0 0.8rem;
}

.enlace_opcion i:last-child{
    margin-left: auto;
    font-size: 1.35rem;
}

#br_administrativa.minimize .opcion i:last-child{
    display: none;
}

.enlace_opcion span{
    font-size: 1rem;
    font-weight: 500;
}

#br_administrativa.minimize .opcion:hover,
#br_administrativa.minimize .opcion.toggle_submenu{
    overflow: visible;
}

#br_administrativa.minimize .opcion:hover span,
#br_administrativa.minimize .opcion.toggle_submenu span{
    position: absolute;
    left: 4.5rem;
    padding: 0.5rem;
    background-color: antiquewhite;
    border-radius: 0.4rem;
    color: black;
    transition: all 0.3s ease;
}

/*#br_administrativa.minimize .enlace_opcion span{
    display: none;
}*/

.submenu{
    background-color: aliceblue;
    padding: 2px;
    height: 0;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    overflow: hidden;
}

#br_administrativa.minimize .submenu{
    position: absolute;
    left: 4.5rem;
    top: 3rem;
    background-color: aliceblue;
    border-radius: 0.2rem;
}


.submenu .sub_opcion{
    display: flex;
    margin-left: 0.7rem;
    padding: 0.55rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.3rem;
    color: black;
}

.submenu .sub_opcion:hover{
    color: black;
    background-color: aquamarine;
}

.submenu::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 0.07rem;
    margin-left: 0.25rem;
    background-color: black;
}

#br_administrativa.minimize .submenu::before{
    width: 0;
}

#br_administrativa.minimize .submenu a{
    margin: 0 0.5rem;
}

#br_footer{
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 -0.02rem 0 0 black;
}

#user{
    display: flex;
    overflow: hidden;
    margin-top: 1rem;
}

#img_user{
    display: flex;
    padding: 0 0.7rem 0 0.35rem;
}

#img_user img{
    width: 2.2rem;
    height: 2.2rem;
    object-fit: cover;
    border-radius: 50%;
}

#inf_user{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
}
#inf_user .nombre_user{
    font-size: 0.8rem;
    font-weight: 600;
    color: black;
}

#inf_user .mail_user{
    font-size: 0.7rem;
    color: black;
}

.user_icon{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
}